body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#canvas {
    display: none;
}

label {
    display: block;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 100%;
    height: 200px;
}

#tiles-panel {
    box-sizing: border-box;
    width: 1400px;
    height: 800px;
    padding: 20px;
    display: flex;
    gap: 10px;
}

#control-panel {
    display: flex;
    gap: 20px;
}

#control-panel>div {
    flex-grow: 1;
}

div.group {
    height: 760px;
}

div.group>p {
    font-size: 20px;
    font-weight: bold;
    flex-shrink: 0;
    height: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.tiles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    height: 730px;
}

div.tile {
    box-sizing: border-box;
    width: 264px;
    height: 360px;
    border: thin solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

div.tile>div.star {
    height: 50px;
    width: 100%;
    background: url("res/star.png") 5px/40px no-repeat;
}

div.tile>div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

div.tile div.img {
    background: transparent center/contain no-repeat;
    width: 100px;
    height: 100px;
}

div.tile p {
    margin: 0;
    text-align: center;
}

div.tile p.name {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

div.tile p.client {
    color: darkgray;
    font-size: 16px;
}

div.tile>div.arrow {
    position: relative;
    height: 20px;
    padding-bottom: 10px;
}

div.tile>div.arrow::before,
div.tile>div.arrow::after {
    content: ' ';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: lightgray;
}

div.tile>div.arrow::before {
    transform: rotate(25deg);
    right: -2px;
}

div.tile>div.arrow::after {
    transform: rotate(-25deg);
    left: -2px;
}