body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#canvas {
    display: none;
}

label {
    display: block;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 100%;
    height: 200px;
}

#tiles-panel {
    box-sizing: border-box;
    width: 1400px;
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#tiles-panel.rows-2 div.tiles {
    gap: 80px;
}

#tiles-panel.rows-2 div.group>p,
#tiles-panel.rows-2 div.tile {
    height: 370px;
}

#tiles-panel.rows-2 div.tile {
    width: 324px;
}

#tiles-panel.rows-2 div.tile div.img {
    width: 123px;
    height: 123px;
}

#tiles-panel.rows-2 div.tile p.name {
    font-size: 31px;
}

#tiles-panel.rows-2 div.tile p.client {
    font-size: 22px;
}

#tiles-panel.rows-3 div.tiles {
    gap: 25px;
}

#tiles-panel.rows-3 div.group>p,
#tiles-panel.rows-3 div.tile {
    height: 240px;
}

#tiles-panel.rows-3 div.tile {
    width: 210px;
}

#tiles-panel.rows-3 div.tile div.img {
    width: 80px;
    height: 80px;
}

#tiles-panel.rows-3 div.tile p.name {
    font-size: 20px;
}

#tiles-panel.rows-3 div.tile p.client {
    font-size: 14px;
}

#tiles-panel.rows-4 div.tiles {
    gap: 10px;
}

#tiles-panel.rows-4 div.group>p,
#tiles-panel.rows-4 div.tile {
    height: 175px;
}

#tiles-panel.rows-4 div.tile {
    width: 155px;
}

#tiles-panel.rows-4 div.tile div.img {
    width: 58px;
    height: 58px;
}

#tiles-panel.rows-4 div.tile p.name {
    font-size: 14.5px;
}

#tiles-panel.rows-4 div.tile p.client {
    font-size: 10px;
}

#control-panel {
    display: flex;
    gap: 20px;
}

#control-panel>div {
    flex-grow: 1;
}

div.group {
    display: flex;
}

div.group>p {
    font-weight: bold;
    flex-shrink: 0;
    width: 210px;
    margin: 0;
}

div.tiles {
    display: flex;
    flex-wrap: wrap;
}

div.tile {
    box-sizing: border-box;
    border: thin solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

div.tile>div.star {
    height: 50px;
    width: 100%;
    background: url("res/star.png") 5px/40px no-repeat;
}

div.tile>div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

div.tile div.img {
    background-size: contain;
}

div.tile p {
    margin: 0;
    text-align: center;
}

div.tile p.name {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

div.tile p.client {
    color: darkgray;
}

div.tile>div.arrow {
    position: relative;
    height: 10px;
    padding-bottom: 10px;
}

div.tile>div.arrow::before,
div.tile>div.arrow::after {
    content: ' ';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: lightgray;
}

div.tile>div.arrow::before {
    transform: rotate(25deg);
    right: -1px;
}

div.tile>div.arrow::after {
    transform: rotate(-25deg);
    left: -1px;
}